nav a{
    background-color: #f71570;
    border-radius: 10px 0 10px 0;
    color: white;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: block;
       
}
footer{
    clear: both;
    padding: 1px;
    text-decoration: none;
    text-align: center;
    padding: 2%;
}